
.xen-grid-galeria .xen-grid-item {
    margin: 0px;
    padding: 10px !important;
    background-color:transparent !important;
    border: none !important;
    cursor: default !important;
    width: 100%;
}

.xen-grid-galeria{
    gap: 1rem !important;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) !important;
    max-width: 100%;
    justify-items: center;
    height: min-content !important;
}

/* Responsive: 2 cards per row on mobile */
@media (max-width: 640px) {
    .xen-grid-galeria{
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)) !important;
        max-width: 100%;
        justify-items: center;
        height: 100% !important;
    }
}

.xen-grid-galeria .btn-toolbar .btn-add {
    transition: all 0.3s ease !important;
    border: 2px solid var(--color-primario, #007bff) !important;
}

.xen-grid-galeria .btn-toolbar .btn-add:hover {
    background: var(--color-primario, #006ce0bb) !important;
    color: white !important;
    box-shadow: 0 2px 10px var(--color-secundario) !important;
}
