*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-image:url("images/back.png");
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    
}

body::-webkit-scrollbar{
    display: none;
  }

.nav-item:hover{
background-color: #47AD49;
border-radius: 5px;
}

h5{
    font-size: 16px;
}

.briefInfo{
width: 85vw;
background-color: #47AD49;
box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.2);
transition: all 0.5s;
}
.briefInfo:hover{
transform: scale(1.05);
}

.numeros:hover{

box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.2);
transform: scale(1.03);
border-radius: 5px;
}

.logo:hover{
    transform: scale(1.03);
}