:root{
    --green-neon-normal:#93d500;
    --green-darker:#193b15;
    --green-light: #edf6ec;
    --green-light-50: rgba(237, 246, 236, 0.5);
    --green-darker-90: rgba(25, 59, 21, 0.9);
    --green-darker-50: rgba(25, 59, 21, 0.5);
    --green-normal-20: rgba(71, 169, 60, 0.2);
    --green-01: #334B00;
    --green-02: #3D5900;
    --green-03: #588000;
    --green-03-50: rgba(88, 128, 0,0.5);
    --green-04: #84C000;
    --green-04-50: rgba(132, 192, 0, 0.5);
    --green-05: #A7E028;
    --dark: #2D3339;
    --white: #ffffff;
    --transition: 0.2s ease-in-out;
}

.resaltado {
    color: var(--green-neon-normal);
    font-weight: bold;
}

.xen-grid .xen-grid-item {
    margin: 0px;
    padding: 10px !important;
    background-color:transparent !important;
    border: none !important;
    cursor: default !important;
    width: 100%;
}

.xen-grid{
    gap: 1rem !important;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) !important;
    max-width: 100%;
    justify-items: center;
    height: min-content !important;
}

/* Responsive: 2 cards per row on mobile */
@media (max-width: 640px) {
    .xen-grid{
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)) !important;
        max-width: 100%;
        justify-items: center;
        height: 100% !important;
    }
}

.xen-modal-body{
    text-align: center;
}