<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="Fundasoft - Tecnología con compromiso social" />
    <meta name="description" content="Fundasoft - Tecnología con compromiso social" />
    <meta name="author" content="FUNDASOFT" />
    <title>Login</title>
    <link rel="shortcut icon" href="images/logo/favicon.svg" />
    <link rel="stylesheet" href="css/login.css">
    <script src="js/login.js"></script>
</head>

<body style="display:none">
    
    <header></header>
    <main></main>
    <footer></footer>
    	
</body> 

</html>
